<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mapper.ChatMapper">
    <insert id="insertChat" parameterType="com.app.dto.ChatMessageDTO">
        INSERT INTO chat (chat_id,user_id, message, date)
        VALUES (#{chatId}, #{userId}, #{message}, #{date})
    </insert>
</mapper>